.page {
	display: grid;
	grid-template-rows: minmax(0, 80%) minmax(0, 20%);

	width: 100%;
	height: 100%;
	min-width: 0;
	min-height: 0;

	overflow: hidden;
}

.content {
	display: flex;
	align-items: center;
	padding-left: 2rem;
	padding-right: 2rem;

	min-width: 0;
	min-height: 0;

	overflow: hidden;
}

.competitionContainer {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-template-rows: repeat(3, minmax(0, 1fr));

	gap: 1rem;

	width: 100%;
	height: 100%;
	min-width: 0;
	min-height: 0;

	padding-inline: 7rem;
	box-sizing: border-box;

	overflow: hidden;
}

.addCompetition {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;

	background: var(--primary-black);
	border: 1px solid var(--primary-black);
	border-radius: var(--border-radius);

	overflow: hidden;

	cursor: pointer;

	&:hover {
		color: var(--hover-yellow);
		background-color: var(--hover-gray);

		.plus {
			color: var(--hover-yellow);
		}
	}
}

.icon {
	width: 10rem;
	height: 2rem;
	color: var(--primary-black);
	cursor: pointer;
}

.plus {
	width: 10rem;
	height: 2rem;
	color: var(--primary-white);
}

.chevron {
	flex-shrink: 0;
	background-color: var(--primary-black);
	color: var(--primary-white);

	border: 1px solid var(--primary-black);
	border-radius: var(--border-radius-full);

	width: 3rem;
	height: 3rem;

	cursor: pointer;

	&:hover {
		color: var(--primary-gray);
	}
}

.chevronDisabled {
	background-color: var(--primary-gray);
	border: 1px solid var(--primary-gray);
	cursor: auto;
	&:hover {
		color: var(--primary-white);
	}
}

.paginationContainer {
	display: flex;
	justify-content: center;

	min-width: 0;
	min-height: 0;

	margin-top: 2rem;
}
