.textarea {
	min-height: 15rem;
	min-width: 35rem;
	padding: 0.5rem;

	border-radius: var(--border-radius);

	&::placeholder {
		color: var(--text-gray);
	}

	&:focus {
		outline: none;
		border-color: var(--active-gray);
	}
}
