.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--text-gray);
}

.card {
	border: 1px solid var(--border-gray);
	border-radius: var(--border-radius);
	background: var(--primary-white);
	padding: 1rem;
}

.infoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.title {
    color: var(--primary-black);
    font-weight: 600;
}

.colorsBox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.colorBall {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: var(--ball-color);
    border: 1px solid var(--border-gray);
	flex-shrink: 0;
}

.competitionItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.arrowIcon {
    cursor: pointer;

    &:hover {
        color: var(--hover-gray);
    }
}