.button {
	min-width: 6rem;

	padding: 0.75rem 1rem;

	border: none;
	border-radius: 0.5rem;

	text-transform: uppercase;

	font-size: 0.75rem;
	font-weight: 600;

	cursor: pointer;

	&:disabled {
		cursor: not-allowed;
	}
}

.primary {
	background-color: var(--primary-black);
	color: var(--primary-white);
}

.secondary {
	background-color: var(--primary-white);
	border: 1px solid var(--primary-black);
	color: var(--primary-black);
}
