.matchCard {
	padding: 0.75rem;
	background-color: var(--primary-white);
	border: 1px solid var(--primary-black);
	border-radius: var(--border-radius);

	display: grid;
	grid-template-columns: 1fr auto 1fr;
	gap: 1rem;

	overflow: hidden;
	align-items: center;

	color: var(--text-gray);
}

.teamsAndResultBox {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	padding: 0.5rem;
	padding-right: 1rem;
	gap: 1rem;

	cursor: pointer;
}

.teamBox {
	display: flex;
	align-items: center;
	gap: 1rem;

	min-width: 0;
}

.teamName {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.resultBox {
	font-weight: 600;
	color: var(--primary-black);
}

.imageBox {
	width: 2rem;
	height: 2rem;
	flex-shrink: 0;
}

.verticalSeparator {
	height: 2rem;
	border-left: 1px solid var(--text-gray);
}

.actionBox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.lockBox {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.lockText {
	font-size: 1rem;
	color: var(--primary-black);
}

.icon {
	color: var(--text-gray);
	cursor: pointer;

	&:hover {
		color: var(--hover-gray);
	}
}
