.matchCard {
	padding: 0.75rem;
	background-color: var(--primary-white);
	border: 1px solid var(--primary-black);
	border-radius: var(--border-radius);
	cursor: pointer;

	display: grid;
	grid-template-columns: 1fr auto 1fr;
	gap: 1rem;

	overflow: hidden;
	align-items: center;

	&:hover {
		background: var(--hover-white);
	}
}

.teamsAndResultBox {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	padding: 0.5rem;
	padding-right: 1rem;
	gap: 1rem;
}

.teamBox {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.resultBox {
	font-weight: 600;
}

.imageBox {
	width: 2rem;
	height: 2rem;
}

.verticalSeparator {
	height: 2rem;
	border-left: 1px solid var(--text-gray);
}

.actionBox {
	cursor: pointer;
}
