.card {
	border: 1px solid var(--border-gray);
	border-radius: var(--border-radius);
	background: var(--primary-white);
	padding: 1rem;
}

.header {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 2rem;
}

.icon {
	color: var(--text-gray);
	cursor: pointer;

	&:hover {
		color: var(--hover-gray);
	}
}

.disabledIcon {
	color: var(--disabled-gray);

	&:hover {
		color: var(--disabled-gray);
	}
}

.salutation {
	font-size: 1.5rem;
	font-weight: bold;
}

.profileInfo {
	
}

.salutation {
	color: var(--primary-black);
}

.upcomingMatchesContainer {
	margin-top: 3rem;
	font-weight: 600;
}

.boxLogoSize {
	width: 4rem;
	height: 4rem;
}

.readyToPlayItem {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 0.5rem 0;
	border-bottom: 1px solid var(--border-gray);
	gap: 1rem;
}

.icon {
	color: var(--text-gray);
	cursor: pointer;

	&:hover {
		color: var(--hover-gray);
	}
}
