:root {
	/* Base */
	--primary-black: #171717;
	--primary-white: #ffffff;

	/* Background */
	--background-light-gray: #f5f5f5;

	/* Interactive states of black */
	--hover-gray: #333333;
	--active-gray: #4a4a4a;
	--disabled-gray: #a3a3a3;

	/* UI */
	--border-gray: #d4d4d4;
	--text-gray: #737373;

	/* Yellows */
	--hover-yellow: #ffe066;
	--active-yellow: #f5c518;
}
