@use './color.scss';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: var(--background-light-gray);
	color: #222;
}

// Do not grow more than the parent div
img {
	max-width: 100%;
	height: auto;
}
