.topBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
}

.actionContainer {
	display: flex;
	justify-content: end;
	gap: 1rem;
}

.matchDayNavigationContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	margin-top: 1rem;
}

.matchesGrid {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0.75rem;
}

.icon {
	color: var(--text-gray);
	cursor: pointer;

	&:hover {
		color: var(--hover-gray);
	}
}

.iconDisabled {
	color: var(--disabled-gray);
	cursor: not-allowed;

	&:hover {
		color: var(--disabled-gray);
	}
}

.infoText {
	text-align: center;
	font-size: 0.875rem;
	color: var(--text-gray);
}

.buttonsContainer {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 1rem;
}
