.nationalityBadge {
    display: flex;
    align-items: center;
}

.flag {
	display: block;
	width: 100%;
	height: auto;
	border: 0.01rem solid var(--border-gray);

	svg {
		display: block;
		width: 100%;
		height: auto;
	}
}