.switch {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-gray);
    border-radius: var(--border-radius);
    background-color: var(--disabled-gray);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-yellow);
    }
}

.switchOn {
    background-color: var(--active-yellow);
    border: 1px solid var(--primary-black);
}
