.selector {
    display: flex;
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border: 1px, solid, var(--border-gray);
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.nationalityGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 2rem;
}

.selectedNationality {
    border: 2px, solid, var(--border-gray)
}