.container {
	min-height: 100vh;
}

.verticalMenu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	min-height: 100vh;
	max-height: 100vh;
	background-color: #222;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	padding: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.linksContainer {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.link {
	color: white;
	cursor: pointer;
	&:hover {
		color: grey;
	}
}

.activeLink {
	color: grey;
}

.button {
	cursor: pointer;
}

.content {
	width: min(100% - 2rem, 800px);
	margin: 2rem auto;
}
